*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: blanchedalmond;
}
h1{
    text-align: center;
}
#submitButton {
  padding: 1%;
  width: 60%;
  background-color: #f4f4f4;
  color : #191919;
  cursor: pointer;
  border-radius: 5%;
  margin-left : 20%;
  transition: 1s;
  border-radius: 7px;
  margin-top: 10px;
}
#Application {
  position: absolute;
  width: 700px;
  height: 500px;
  margin-left:30%;
  margin-top:10%;
  background-color: #191919;
  color : #f4f4f4;
  border-radius : 10px;
}
div {
    margin : 2%;
}
#name {
    width : 100%;
    padding : 1%;
    outline: none;
    background-color: #191919;
    color : white;
    border-bottom: solid 2px #f4f4f4;
}
#email{
    width : 100%;
    padding : 1%;
    outline: none;
    background-color: #191919;
    color : white;
    border-bottom: solid 2px #f4f4f4;
}
#contact{
    width : 100%;
    padding : 1%;
    outline: none;
    background-color: #191919;
    color : white;
    border-bottom: solid 2px #f4f4f4;
}
#password{
    width : 100%;
    padding : 1%;
    outline: none;
    background-color: #191919;
    color : white;
    border-bottom: solid 2px #f4f4f4;
}
#confirmpass{
    width : 100%;
    padding : 1%;
    outline: none;
    background-color: #191919;
    color : white;
    border-bottom: solid 2px #f4f4f4;
}
#Login{
    display: flex;
}
#loginbutton{
    text-decoration: none;
    background-color: #f4f4f4;
    color : #191919;
    padding : 20%;
    margin : 1%;
    border-radius: 5px;
    transition: 1s;
}
#submitButton:hover{
    background-color: #191919;
    color : #f4f4f4;
    transform: scale(1.2);
    border : 1px groove #f4f4f4;
}
#haveaccount {
    color:white;
}
#loginbutton:hover {
    background-color: #191919;
    color : #f4f4f4;
    transform: scale(1.9);
    border : 1px groove #f4f4f4;
}
#login-component{
  position: absolute;
  width: 400px;
  height: 250px;
  margin-left:37%;
  margin-top:11%;
  background-color: #191919;
  color : #f4f4f4;
  border-radius : 10px;
}
#login-email{
    width : 90%;
    padding : 1%;
    margin-right : 20px;
    margin-left : 20px;
    outline: none;
    background-color: #191919;
    color : white;
    border-bottom: solid 2px #f4f4f4;
}
#login-password{
    width : 90%;
    margin-right : 20px;
    margin-left : 20px;
    padding : 1%;
    outline: none;
    background-color: #191919;
    color : white;
    border-bottom: solid 2px #f4f4f4;
}
#login-button {
  padding: 1%;
  width: 60%;
  background-color: #f4f4f4;
  color : #191919;
  cursor: pointer;
  border-radius: 5%;
  margin-left : 20%;
  transition: 1s;
  border-radius: 7px;
}
#login-button:hover{
    background-color: #191919;
    color : #f4f4f4;
    transform: scale(1.2);
    border : 1px groove #f4f4f4;
}
#loader {
    border: 16px solid #f4f4f4;
    border-radius: 50%;
    border-top: 16px solid #191919;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-top: -200px;
    margin-left : -120px;
    display: none;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  #loader-login {
    border: 16px solid #f4f4f4;
    border-radius: 50%;
    border-top: 16px solid #191919;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-top: -150px;
    display: none;
  }
  .tooltip{
  visibility: hidden;
  width: 600px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 3px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  }
  .inputField:hover .tooltip{
    visibility: visible;
  }